In [6]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# File to Load (Remember to check these)
artists_to_load = "../data/cleaned_artists.csv"
artworks_to_load = "../data/cleaned_artworks.csv"

# Read the City and Ride Data
artists_df = pd.read_csv(artists_to_load)
artworks_df = pd.read_csv(artworks_to_load)

In [7]:
artists_df.head()

,ConstituentID,DisplayName,ArtistBio,Nationality,Gender,BeginDate,EndDate,Wiki QID,ULAN
0,1,Robert Arneson,"American, 1930–1992",American,Male,1930,1992,unknown,0.0
1,2,Doroteo Arnaiz,"Spanish, born 1936",Spanish,Male,1936,0,unknown,0.0
2,3,Bill Arnold,"American, born 1941",American,Male,1941,0,unknown,0.0
3,4,Charles Arnoldi,"American, born 1946",American,Male,1946,0,Q1063584,500027998.0
4,5,Per Arnoldi,"Danish, born 1941",Danish,Male,1941,0,unknown,0.0

In [8]:
artworks_df.head()

,Title,Artist,ConstituentID,ArtistBio,Nationality,BeginDate,EndDate,Gender,Date,Medium,...,ThumbnailURL,Circumference (cm),Depth (cm),Diameter (cm),Height (cm),Length (cm),Weight (kg),Width (cm),Seat Height (cm),Duration (sec.)
0,"Ferdinandsbrücke Project, Vienna, Austria (Ele...",Otto Wagner,6210,"Austrian, 1841–1918",Austrian,1841,1918,Male,1896,Ink and cut-and-pasted painted pages on paper,...,http://www.moma.org/media/W1siZiIsIjUyNzc3MCJd...,0.0,0.0,0.0,48.6000,0.0,0.0,168.9000,0,0
1,"City of Music, National Superior Conservatory ...",Christian de Portzamparc,7470,"French, born 1944",French,1944,0,Male,1987,Paint and colored pencil on print,...,http://www.moma.org/media/W1siZiIsIjUyNzM3NCJd...,0.0,0.0,0.0,40.6401,0.0,0.0,29.8451,0,0
2,"Villa near Vienna Project, Outside Vienna, Aus...",Emil Hoppe,7605,"Austrian, 1876–1957",Austrian,1876,1957,Male,1903,"Graphite, pen, color pencil, ink, and gouache ...",...,http://www.moma.org/media/W1siZiIsIjUyNzM3NSJd...,0.0,0.0,0.0,34.3000,0.0,0.0,31.8000,0,0
3,"The Manhattan Transcripts Project, New York, N...",Bernard Tschumi,7056,"French and Swiss, born Switzerland 1944",unknown,1944,0,Male,1980,Photographic reproduction with colored synthet...,...,http://www.moma.org/media/W1siZiIsIjUyNzQ3NCJd...,0.0,0.0,0.0,50.8000,0.0,0.0,50.8000,0,0
4,"Villa, project, outside Vienna, Austria, Exter...",Emil Hoppe,7605,"Austrian, 1876–1957",Austrian,1876,1957,Male,1903,"Graphite, color pencil, ink, and gouache on tr...",...,http://www.moma.org/media/W1siZiIsIjUyNzQ3NSJd...,0.0,0.0,0.0,38.4000,0.0,0.0,19.1000,0,0

In [12]:
# What percent female in each country per 5 years
artists_df['female_count'] = np.where(artists_df['Gender'] == 'Female', 1, 0)
artists_df.head()

,ConstituentID,DisplayName,ArtistBio,Nationality,Gender,BeginDate,EndDate,Wiki QID,ULAN,female_count
0,1,Robert Arneson,"American, 1930–1992",American,Male,1930,1992,unknown,0.0,0
1,2,Doroteo Arnaiz,"Spanish, born 1936",Spanish,Male,1936,0,unknown,0.0,0
2,3,Bill Arnold,"American, born 1941",American,Male,1941,0,unknown,0.0,0
3,4,Charles Arnoldi,"American, born 1946",American,Male,1946,0,Q1063584,500027998.0,0
4,5,Per Arnoldi,"Danish, born 1941",Danish,Male,1941,0,unknown,0.0,0

In [18]:
percent_female_df = artists_df.iloc[:, [3,5,9]]
percent_female_df.head()

  Nationality  BeginDate  female_count
0    American       1930             0
1     Spanish       1936             0
2    American       1941             0
3    American       1946             0
4      Danish       1941             0